<!DOCTYPE html>
<html lang="fr">
<head>
    <title>ImmoLocation - Conditions générales d'utilisation</title>
    <meta charset="utf-8">
</head>

{% extends 'search/base.html' %}

{% block content %}

<header class="header_new_rent resize-page">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h2 class="text-uppercase text-white font-weight-bold">
                    Les conditions générales d'utilisation</h2>

                <p>Bienvenue, <br/>
                    Nos conditions générales de vente sont conformes aux dispositions de l’article R.211-12 du Code du
                    tourisme. Afin de respecter les dispositions légales, nous reproduisons les articles.<br/> ​

                    ARTICLE 1-CONDITIONS DE LOCATION DU MEUBLES DE TOURISME LE PARTICULIER<br/>
                    I.1 Le Particulier meublés de tourisme considère la réservation ferme et définitive dès lors que le
                    paiement intégral est réalisé.<br/>
                    I.2 Seul les personnes majeures sont habilitées à effectuer une réservation.<br/>
                    I.3 La durée minimale du séjour est d'une nuitée. La durée maximale ne peut excéder trois
                    mois.<br/>
                    I.4 Le locataire ne peut en aucune circonstance se prévaloir d’un quelconque droit de
                    maintien dans les lieux à l’expiration de la période initialement prévue sur le présent
                    contrat.<br/>

                    ARTICLE 2- PROPRIETES INTELLECTUELLES<br/>
                    II.1 Tous les éléments du site sont et restent la propriété intellectuelle et exclusive à Le
                    Particulier.<br/>
                    II.2 Toute reproduction, exploitation, rediffusion ou utilisation des éléments du site, qu'ils
                    soient
                    textuels, logiciels ou visuels, est strictement interdite sous peine de poursuites,
                    notamment pénales.<br/>
                    Tout lien simple ou par hypertexte, sur le site, est strictement interdit.<br/>
                    II.3 La marque Le Particulier, ainsi que son logo sont des marques déposées
                    (semi-figuratives ou non).<br/>
                    Toute reproduction totale ou partielle de ces marques ou de ces logos effectués
                    à partir des éléments du
                    site est prohibée, au sens des articles L.713-2 et suivants du Code de la propriété
                    intellectuelle.<br/>
                    II.4 Les informations contenues sur le site sont la propriété de leurs propriétaires
                    respectifs.<br/>
                    Le locataire s'interdit toute action tendant à s'approprier ou tenter de s'approprier indûment
                    toute information, notamment en vue de constituer une base de données documentaire ou de
                    reconstituer tout ou
                    partie des fichiers d'origine. <br/>
                    Le droit d'usage dont bénéficie le locataire comprend la visualisation
                    des informations sur écran et la copie des documents accessibles sur commande, moyennant
                    paiement.<br/>
                    Il est exclusivement réservé à un usage privé et ne confère pas de droits de reproduction ou de
                    redistribution, notamment à des fins commerciales. <br/>

                    ARTICLE 3- CONDITIONS D'ANNULATION ET DE MODIFICATION <br/>
                    III.1 Toute résiliation doit être notifiée par mail et soumise à validation par Le Particulier.<br/>
                    Avant
                    l’entrée en jouissance : les arrhes restent acquises au propriétaire ; toutefois elles pourront être
                    restituées, quand le meublé aura pu être reloué pour la même période et au même prix.<br/>
                    III.2 Si le locataire ne s’est pas présenté le jour mentionné sur le contrat : passé un délai de 24
                    heures et sans avis notifié au propriétaire : le présent contrat est considéré comme résilié, les
                    arrhes
                    restent acquises au propriétaire, le propriétaire peut disposer de sa location.
                    III.3 En cas d’annulation de la location par le propriétaire : il rembourse au locataire le montant
                    des
                    arrhes reçues. <br/>
                    En cas de résiliation du fait du preneur, celui-ci devra payer la totalité du loyer
                    si le bailleur n’a pas pu relouer à temps. <br/>

                    ARTICLE 4- CONDITIONS DE RESERVATION <br/>
                    IV.1 Le locataire utilise la location d’une manière paisible et en fait bon usage, conformément à la
                    destination des lieux. <br/>
                    A son départ, le locataire s’engage à rendre le logement aussi propre qu’il
                    l’aura trouvé à son arrivée. La location ne peut en aucun cas bénéficier à des tiers. <br/>
                    Le propriétaire
                    doit fournir le logement conforme à la description qu’il en a faite et le maintient en état de
                    servir. <br/>
                    IV.2 Le nombre de locataires ne peut être supérieur à la capacité d’accueil indiquée dans l'état
                    descriptif de la location. Toutefois, un dépassement peut être accordé par le propriétaire. <br/>
                    Dans ce cas
                    et compte tenu des charges supplémentaires occasionnées par la modification du nombre d’occupants,
                    un supplément peut être calculé au prorata du nombre de personnes. <br/>

                    ARTICLE 5- REGELEMENT INTERIEUR <br/>
                    V.1 Toute personne n'ayant pas accepté ledit règlement par sa signature au bas de l'exemplaire remis
                    par
                    le propriétaire n'a pas le droit d’accès au logement désigné dans son contrat. <br/>
                    V.2 Les heures d’arrivée sont prévues l’après-midi à partir de 16h00 <br/>
                    Les heures de départ sont prévues le matin avant 10h00 <br/>
                    V.3 Les locataires occupent les lieux personnellement. <br/>
                    Toute visite ou séjour de personnes
                    extérieures à l’établissement sera subordonnée à l’appréciation des propriétaires,
                    lesquels pourront alors exiger une contribution financière additionnelle. <br/>
                    Le formulaire correspondant devra alors être complété et
                    signé par les deux parties. <br/>
                    V.4 Les installations vous sont fournies en état de marche. <br/>
                    Toute réclamation survenant plus de 2 jours
                    après l’entrée en jouissance des lieux, ne pourra être admise. De même, veuillez signaler
                    immédiatement toute perte, casse ou détérioration. <br/>
                    V.5 Le Particulier se veut un lieu de calme et de repos. <br/>
                    Les locataires ont obligation de veiller à la tranquillité de leur voisinage. <br/>
                    De jour comme de nuit les bruits excessifs de toutes natures sont à
                    proscrire (cris, cognements, instruments de musique, radios, lecteurs, télévision…) <br/>
                    Les propriétaires se réservent le droit de rappeler à l’ordre tous les
                    comportements qu’ils jugeront nuisibles pour l’établissement et ses occupants et si
                    nécessaire de prendre des sanctions. <br/>
                    Le silence est de rigueur de 22h00 à 8h00 du matin. <br/>

                    V.6 Il est strictement interdit de fumer dans les logements. <br/>


                    V.7 Les propriétaires, sur manquements singuliers ou répétés à l'un des articles peuvent prononcer
                    les
                    sanctions qu’ils jugeront adéquates afin de rétablir le bon fonctionnement de l’établissement. <br/>
                    Selon
                    les
                    cas, ils pourront exiger des compensations financières, l’exclusion immédiate, ou le retrait des
                    autorisations qu'ils ont préalablement accordées sans dédommagement quel qu’il soit. <br/>


                    V.8 Le présent règlement peut être modifié à tout moment par le propriétaire, sans préavis. <br/>
                    Le
                    locataire
                    ne pourra exiger aucune indemnité ni aucun remboursement quelque soit le préjudice subi <br/>

                    ​

                    ARTICLE 6- MODES DE PAIEMENT <br/>


                    VI.1 Jusqu’au 30e jour précédant votre séjour, vous pouvez régler votre séjour par carte bancaire,
                    chèque, virement. <br/>


                    VI.2 A moins de 30 jours précédant votre séjour, vous devez effectuer le règlement de 100 % du
                    montant
                    de votre séjour uniquement par carte bancaire. <br/>Les chèques bancaires ne sont pas acceptés le
                    jour
                    même. <br/>


                    VI.3 Pour les réservations sur internet, les carte bancaire sont acceptées uniquement. <br/>

                    Attention : les paiements des personnes vivant hors de France s’effectuent uniquement par carte
                    bancaire
                    ou virement international accompagné obligatoirement du numéro de réservation. <br/>


                    ARTICLE 7- UTILISATION DU RESEAU WIFI LE PARTICULIER


                    VII.1 Le Particulier rappelle aux utilisateurs que les informations disponibles sur Internet sont
                    susceptibles d’être protégées par des droits ou d’enfreindre les dispositions légales en vigueur.
                    <br/>
                    Les
                    utilisateurs s'interdisent donc de transmettre ou télécharger sur l'Internet toute donnée prohibée,
                    illicite, illégale, contraire aux bonnes mœurs ou à l'ordre public et portant atteinte ou
                    susceptibles
                    de porter atteinte aux droits de tiers et notamment aux droits de propriété intellectuelle. <br/>


                    VII.2 Il est expressément rappelé qu'Internet n'est pas un réseau sécurisé. <br/> Dans ces
                    conditions, il
                    appartient aux utilisateurs de prendre toutes les mesures appropriées de façon à protéger leurs
                    propres
                    données et/ou logiciels notamment de la contamination par d'éventuels virus circulant sur le réseau
                    Internet ou de l'intrusion d'un tiers dans le système de son terminal (ordinateur portable,
                    assistant
                    personnel ou mobile) à quelque fin que ce soit, et de procéder sur son ordinateur portable et sur
                    son
                    assistant personnel, à des sauvegardes préalablement et postérieurement à la mise en place du
                    Service. <br/>


                    VII.3 Le locataire reconnaît également être pleinement informé du défaut de fiabilité du réseau
                    Internet, tout particulièrement en terme d'absence de sécurité relative à la transmission de données
                    et
                    de non garantie des performances relatives au volume et à la rapidité de transmission des données.
                    <br/>
                    Le locataire reconnaît être informé que l'intégrité, l'authentification et la confidentialité des
                    informations, fichiers et données de toute nature qu'il souhaite échanger sur le réseau Internet ne
                    peuvent être garanties sur ce réseau. <br/>
                    Le locataire ne doit donc pas transmettre via le réseau Internet des messages dont il souhaiterait
                    voir
                    la confidentialité garantie de manière infaillible. <br/>


                    VII.4 Le locataire s'interdit toute utilisation frauduleuse, abusive ou excessive du Service , telle
                    que
                    notamment l'encombrement volontaire ou involontaire des serveurs de messageries de « Le Particulier
                    »
                    et/ou des destinataires de mails par du publipostage sauvage (spamming, bulk e-mail, junk e-mail ou
                    mail
                    bombing) ou de son réseau, ou l'envoi de messages attractifs générant nécessairement un nombre
                    imposant
                    de réponses (teasing ou trolling) pouvant ainsi perturber la disponibilité desdits serveurs ou
                    réseau et
                    assume l'entière responsabilité d'une telle utilisation du Service. <br/>


                    VII.5 S'agissant des produits ou des services sur le réseau Internet, le locataire adresse
                    directement
                    aux fournisseurs de contenus toute réclamation relative à l'exécution des services rendus par
                    ceux-ci ou
                    à la vente des produits par ceux-ci. <br/>


                    VII.6 Le Particulier et par ailleurs en garde le locataire sur la nature et la diversité des
                    contenus
                    disponibles sur le réseau Internet, lesquels peuvent être susceptibles de porter préjudice aux
                    mineurs. <br/>


                    ARTICLE 8- UTILISATION DE DONNEES <br/>


                    VIII.1 Le Particulier s’engage vis-à-vis de ses clients à ne collecter et à ne traiter que les
                    données
                    nécessaires à ses activités portant en particulier sur la location saisonnière dans le respect de
                    nos
                    obligations légales et réglementaires en conformité avec le code de déontologie de notre
                    profession. <br/>
                    En
                    conséquence, nous collectons directement auprès de vous différentes données à caractère personnel
                    vous
                    concernant. <br/>


                    ARTICLE 9- PRIX <br/>


                    IX.1 Les prix des prestations sont établis en fonction des données économiques en vigueur à la date
                    de
                    leur fixation. <br/> Une modification des taxes applicables peut nous amener à modifier le prix
                    desdites
                    prestations. <br/> Ils sont flexibles et variables en application de différents critères
                    personnalisables
                    tels
                    que la date de réservation, la date de début de séjour, la durée du séjour, la typologie de
                    l’hébergement, l’ajout de prestations annexes <br/>


                    IX.2 Nos prix s’entendent toutes taxes comprises et incluent la sous location du logement, charges
                    comprises (eau, électricité, chauffage), à l’exception de la taxe de séjolur, des prestations
                    annexes et
                    des primes d’assurances facultatives, et des frais de dossier, payables à la réservation quand ils
                    sont
                    dus. <br/> Nous vous rappelons qu'un logement est prévu pour un nombre déterminé d'occupants à la
                    location
                    et
                    ne saurait en aucun cas être habité par un nombre supérieur de personnes. <br/> Il est rappelé qu’un
                    enfant en
                    bas âge est considéré comme un occupant à part entière. <br/>

                    ARTICLE 10- PRESTAIONS OPTIONNELLES <br/>

                    X.1 Nos tarifs hébergement ne comprennent pas les prestations optionnelles supplémentaires proposées
                    en
                    catalogue, sur notre site Internet ou sur place. <br/> Dans l’éventualité d’une prestation de voyage
                    liée,
                    nous vous informons que :
                    les droits applicables aux forfaits touristiques ne s’appliquent pas ;
                    le prestataire sera responsable de la bonne exécution contractuelle du service ;
                    vous bénéficiez d’une protection en cas d’insolvabilité. <br/>

                    ARTICLE 11- REDUCTION <br/>

                    XI.1 Toute demande d’augmentation de la durée de votre séjour sera réalisée par Le Particulier sans
                    frais supplémentaire. <br/>
                    XI.2 Toute demande de diminution de la durée de votre séjour est considérée par Le Particulier comme
                    une
                    annulation partielle et sera soumise aux modalités d’annulation. <br/>

                    ARTICLE 12- TAXE DE SEJOUR <br/>

                    XII.1 La taxe de séjour d’une location saisonnière correspond à une taxe qui doit être payée par les
                    locataire séjournant sur le territoire d’une commune. <br/> Cette taxe est due par personne et par
                    nuit. <br/>
                    XII.2 Les locations saisonnières appartiennent à la catégorie plus générale des locations meublées
                    de
                    courte durée proposées à une clientèle de passage. <br/>
                    XII.3 La taxe de séjour de location saisonnière est due par les personnes qui ne sont pas
                    domiciliées
                    dans la commune concernée et qui n’y possèdent pas de résidence secondaire. <br/>Les locataires
                    suivants
                    sont
                    exonérés du paiement de la taxe de séjour de location saisonnière : <br/>
                    les personnes âgées de moins de 18 ans, <br/>
                    les personnes titulaires d’un contrat de travail saisonnier employées dans la commune <br/>
                    les personnes bénéficiant d’un hébergement d’urgence ou d’un relogement temporaire <br/>
                    les personnes qui occupent des locaux dont le loyer est inférieur à un montant que le conseil
                    municipal
                    détermine <br/>
                    XII.4 Le montant de la taxe de séjour de location saisonnière dépend du nombre de personnes
                    séjournant
                    dans le logement saisonnier concerné et du nombre de nuits passées dans ce logement. <br/>
                    XII.5 La taxe de séjour de location saisonnière doit dans tous les cas être payée par le locataire
                    avant
                    son départ du logement saisonnier. <br/>
                    XII.6 Tout locataire qui entre dans la catégorie mentionnée plus haut (personne séjournant dans la
                    commune mais non domiciliée dans celle-ci) est redevable de la taxe de séjour. <br/>
                    Si le locataire non-exempté quitte la location saisonnière sans régler la taxe de séjour, il
                    risquera
                    des sanctions. <br/>

                    ARTICLE 13- ARRIVEE ET DEPART <br/>

                    XIII.1 Le Particulier attire votre attention sur le fait qu’à défaut de paiement complet de prix en
                    dépit des relances, nous ne pourrons procéder à la remise des clés si vous vous présentez sur le
                    lieu de
                    votre séjour. <br/>Pour les séjours d’une semaine et plus, la remise des clefs s’effectue à partir
                    de 16h
                    le
                    jour de votre arrivée sous condition dudit paiement. <br/>Ces clefs seront rendues avant 10h le jour
                    de
                    votre
                    départ (le samedi dans la majorité des cas). <br/>Au-delà, une nuitée complémentaire vous sera
                    facturée.
                    Pour
                    les courts séjours, la remise des clés s’effectue à partir de 16h sous condition toujours dudit
                    paiement, elles doivent être rendues avant 10h le jour du départ. <br/>

                    XIII.2 La carte de crédit utilisée à la réservation ainsi que des papiers d’identités valides
                    devront
                    être présentés à l’arrivée. <br/>A défaut, l’accès à votre hébergement pourra vous être refusé par
                    Le
                    Particulier. <br/>

                    XIII.3 Ressortissants étrangers ou porteurs d'un titre de voyage : vous devez vous renseigner auprès
                    des
                    consulats de chaque pays pour les visas éventuels. <br/>

                    ARTICLE 14- DEPOT DE GARANTIE <br/>

                    XIV.1 A l’arrivée, un dépôt de garantie est demandé par le propriétaire. <br/>
                    Son montant ne peut excéder
                    le
                    coût total de la location. <br/>Le propriétaire a le droit d’encaisser le dépôt de garantie.
                    <br/>Il est
                    restitué
                    au locataire, après l’état des lieux contradictoire de sortie ou lui est envoyé dans un délai de 7
                    jours, déduction faite, si nécessaire, du coût de remise en état des lieux et des frais de
                    remplacement
                    des éléments et équipements mis à disposition. <br/> Ce délai ne peut dépasser 60 jours.  <br/> Si le
                    cautionnement
                    est insuffisant, le locataire s’engage à parfaire la différence, sur la base de justificatifs donnés
                    par
                    le propriétaire. <br/>

                    ARTICLE 15- ANIMAUX <br/>

                    XV.1 Les animaux domestiques et sauvages sont interdis. <br/>

                    ARTICLE 16- MINEURS <br/>

                    XVI.1 Nous attirons votre attention sur le fait que nos résidences ne dépendent pas d’un Centre de
                    Vacances et de Loisirs au sens du décret n°2002-883 en date du 3 mai 2002, et ne sont pas adaptées à
                    assurer des séjours collectifs ou individuels hors du domicile familial de mineurs de moins de 18
                    ans,
                    non accompagnés de leurs administrateurs légaux. <br/> Le Particulier se réserve le droit de refuser
                    l’accès à
                    l’appartement, chambre ou la maison, qui aurait été réservé en méconnaissance de cette prescription
                    au
                    profit de mineurs de moins de 18 ans non accompagnés de leurs administrateurs légaux ou un
                    justificatif
                    de ces derniers donnant l'accord et prenant en charge toutes responsabilités.  <br/>Dans les mêmes
                    conditions,
                    Le Particulier pourra procéder à tout moment avant le début du séjour, à l’annulation de la
                    réservation,
                    s’il découvre que l’appartement est destiné à accueillir des mineurs de moins de 18 ans non
                    accompagnés
                    ou autorisés de leurs administrateurs légaux. <br/>

                    ARTICLE 17- INTERRUPTION DU SEJOUR <br/>

                    XVII.1 En cas d’interruption anticipée de séjour par le locataire, ne relevant pas du cas de force
                    majeure, il ne sera procédé à aucun remboursement, hormis le dépôt de garantie. <br/> Le cas de force
                    majeure
                    est reconnu si le locataire justifie de motifs graves rendant impossibles le déroulement total de la
                    location.  <br/>Dans ce cas, le propriétaire peut procéder à la restitution des sommes déjà versées,
                    correspondant au prorata de la durée d’occupation non effectuée. <br/>

                    ARTICLE 18- SERVICE APRES-VENTE <br/>

                    XVIII.1 Le Particulier à votre disposition au cours de votre séjour pour répondre à vos doléances,
                    résoudre les éventuels dysfonctionnements constatés et vous permettre de profiter pleinement de
                    votre
                    séjour.  <br/>Il convient de prendre contact avec elles pour toute demande. <br/>
                    Nous attirons votre attention sur le fait que plus vous tarderez à nous faire part de vos
                    réclamations, <br/>
                    plus nous risquons d’éprouver des difficultés pour régler votre demande au mieux de vos intérêts. <br/>
                    Nous
                    vous remercions de bien vouloir nous spécifier, dans votre courrier, le nom de la personne ayant
                    réservé
                    le séjour, le numéro de la réservation, les lieu et dates de votre séjour ainsi que le type
                    d’appartement ou de chambre réservé de façon à faciliter le traitement de votre dossier. <br/> De même,
                    nous
                    vous remercions de joindre à votre courrier tous justificatifs nous permettant de limiter le délai
                    de
                    traitement de votre réclamation. <br/>
                    ARTICLE 19- VALIDITE DES CONDITIONS GENERALES DE VENTE <br/>
                    XIX.1 Les présentes conditions sont valables à compter du 16 Août 2018 et ceux jusqu'à nouvel ordre.

                    ARTICLE 20- LITIGES OU RECLAMATIONS <br/>

                    XX.1 Si la réclamation porte sur l’état des lieux ou l’état descriptif de la location, elle doit
                    alors
                    être formulée, par écrit, dans les sept jours qui suivent l’arrivée.  <br/>Le propriétaire et le locataire
                    doivent favoriser le règlement amiable. <br/> Pour d’autres contestations, le locataire peut saisir, sans
                    limite de délai, un organisme représentatif. <br/>

                    ARTICLE 21- DONNEES PERSONNELLES <br/>

                    XXI.1 Dans le cadre de l’exécution du contrat ou de la prise de mesures précontractuelles effectuées
                    à
                    la demande de la personne concernée, ces données sont collectées et traitées aux fins de la gestion
                    de
                    votre séjour (incluant les opérations de réservation, suivi, paiement, évaluation de la satisfaction
                    et
                    renseignement). <br/>
                    Dans le cadre d’un consentement du Client, les données à caractère personnel le concernant sont
                    collectées et traitées aux fins de transmission d’informations sur nos produits, services et offres
                    promotionnelles. <br/>
                    Les données pourront également être transférées à des partenaires. <br/> Les données obligatoires sont
                    indiquées par un astérisque.  <br/>Le retrait du consentement à leur traitement est possible à tout
                    moment. <br/>

                    XXI.2 Les informations indiquées comme obligatoires conditionnent la souscription et l’exécution du
                    contrat passé entre le client et Le Particulier ou la remise d’informations personnalisées en vue de
                    préparer l’éventuel contrat à venir. <br/> La non-remise des informations facultatives ne remettra pas en
                    cause la délivrances des prestations promises ou les réponses à des demandes de renseignement, bien
                    qu’elle puisse en limiter la pertinence. <br/>
                    XXI.3 Les données collectées sont destinées à Le Particulier, en qualité de responsable du
                    traitement,
                    ainsi qu’à l’entité chargée de délivrer la prestation souscrite et tout éventuel sous-traitant le
                    cas
                    échéant. <br/>
                    XXI.4 Aucun transfert de données n’est opéré en dehors de l’Union Européenne sauf obligation légale,
                    ou
                    dans le cadre d’une réservation pour une destination située en dehors de l’Union Européenne, à
                    l’entité
                    locale du Groupe Le Particulier/Séjours en Aquitaine, ou son partenaire, gérant le site de
                    destination
                    aux fins de gestion de votre séjour sur place. <br/>
                    XXI.5 Les entités du Groupe Le Particulier/Séjours en Aquitaine mettent en place des mesures
                    techniques
                    et organisationnelles afin d’assurer la sécurité et la protection des données. <br/>
                    XXI .6 L’(es) entité(s) du Groupe Le Particulier/Séjours en Aquitaine partie(s) au traitement
                    conserve(nt) les données personnelles dans un environnement sécurisé pour toute la durée nécessaire
                    à la
                    prise de mesures précontractuelles ou à l’exécution du contrat puis archivées conformément aux
                    dispositions légales en vigueur. <br/> Les données relatives aux opérations de prospection sont supprimées
                    dans les délais légaux de la prescription après l’exécution de la prestation ou du recueil de votre
                    consentement selon le cas. <br/>

                    ARTICLE 22- ASSURANCES <br/>

                    XXII.1 Le Particulier meublés de tourisme, en accord avec la législation en vigueur, déclare être en
                    règle avec les différents services d'assurance nécessaire à l'activité. <br/>


                    XXII.2 Il est de la responsabilité des voyageurs et conformément aux présentes conditions de se
                    mettre
                    en conformité auprès de leur assureur. <br/>


                    XXII.3 Le Particulier se verra exempté de toutes obligations envers tous types de sinistres qui ne
                    sont
                    pas en relation directe avec l'activité mise en place. <br/>
                    Merci <br/>
                    ImmoLocation. <br/>
                    Nous Contacter, <br/>
                    Immolocation@outlook.fr <br/>
            </div>
        </div>
    </div>
</header>
{% endblock %}
</html>
